
 {% load static %}

<!--<h3>Hello World!</h3>-->


<style>
        body{
            padding-top: 60px;
        }
    </style>




<html>
<head>
    <title>mubina yazdani</title>
    <link href="{% static '/scc/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">

            <div class="row">
                <div class="col-md-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper"><img id="profile-pic" src="{% static 'imagee/mobina.jpg'%}">
                <br>
                <h4>Hey I am mubina.</h4>
                <p> This is my first website using django, python and bootstrap.</p>
            </div>
            </div>


            <div class="col-md-9">
                <div class="card card-body h-100 border-success">
                    <h4>My first job </h4>
                    <hr>
                    <p>
                        I was a translator for English language ; I know two languages ; German and English.
                        I love designing websites and using different programming languages.
                    </p>
                    <p>I know everything about Office and databases(mysql and sqlite).</p>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'imagee/facebook.jfif' %}"> </li>
                        <li><img class="social" src="{% static 'imagee/telegram.png' %}"> </li>
                        <li><img class="social" src="{% static 'imagee/whatsapp.png' %}"> </li>
                        <li><img class="social" src="{% static 'imagee/instagram.png' %}"> </li>


                    </ul>
                </div>
            </div>
            </div>


        <br>

                   <div class="row">
                        <div class="col-md-6">
                            <div class="card card-body h-100 border-warning">
                                <h5>My experience as a developer</h5>
                                <hr>
                                <p>I have created sites but I have not published yet; I would really be happy if you trust me for your orders.</p>
                            </div>
                    </div>


            <div class="col-md-6">
                <div class="card card-body h-100 border-danger">
                    <h5>My university major</h5>
                    <hr>
                    <p>My major is Microbiology at university and I have one year left.</p>
                </div>
            </div>
            </div>

        <br>
               <div class="row">
                <div class="col-md-3">
            <div class="card card-body h-100 border-primary">
                <h5>My passions</h5>
                <hr>
                <p>I love mathematics and logical problems that is why i am into designing and programming.</p>
                <p>I am also a chess player and my elo is 1800.</p>
            </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-secondary">
                    <h5>What i like to do</h5>
                    <hr>
                    <p>I really like to work as a programmer, I enjoy coding and searching for codes.</p>
                    <p>That would be my pleasure if you trust me and let me participate.</p>
                </div>
            </div>
            </div>


    </div>



    <footer>
        <div class="container py-3 py-sm-5">
            <div class="row">
                <div class=" col-12 col-sm-6 col-md-3">
                    <h6>Thanks for your supporting.</h6>
                </div>
            </div>
        </div>
    </footer>


<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrapotstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
</body>
</html>